#content_wrapper {
    padding-top: 25px;

    @media screen and (max-width: $SCREEN_SIZE_SMALL) {
        padding-top: 10px;
    }

    #content {
        width: 95%;
        margin: 0px auto;

        @media screen and (max-width: $SCREEN_SIZE_SMALL) {
            max-width: $SCREEN_SIZE_SMALL;
            padding: 0px;
        }

        @media screen and (min-width: $SCREEN_SIZE_MEDIUM) {
            max-width: $SCREEN_SIZE_MEDIUM;
            padding: 3px;
        }

        @media screen and (min-width: $SCREEN_SIZE_LARGE) {
            max-width: $SCREEN_SIZE_LARGE;
            padding: 5px;
        }

        h2 {
            border-bottom: solid $COLOR_PRIMARY 5px;
            margin-bottom: 10px;
            font-size: 1.3em;
        }

        h3 {
            border-bottom: solid $COLOR_PRIMARY 2px;
            margin-bottom: 10px;
            font-size: 1.0em;
        }

        .content_row {
            padding: 5px 0px 0px 0px;
            margin-bottom: 65px;
            clear: both;
            position:relative;
            min-height:200px;

            > img, img.thumb {
                float: left;
                margin-right: 25px;
            }

            img.thumb {
                border: solid $COLOR_PRIMARY 2px;
            }

            ul, ul.prominent_list {
                margin-left: 20px;
            }

            ul.prominent_list {
                font-size: 1.1em;

                li {
                    font-weight: bold;
                    margin-bottom: 15px;
                    color: #7d0303;
                }
            }

            input.button {
                float: right;
                margin: 0px auto;
            }
        }

        .content_row_sm {
            @extend .content_row;
            margin-bottom: 5px;
            position: relative;
            padding: 5px;
            border: solid $COLOR_BACKGROUND 7px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            min-height:100px;

           
        }

        .block_hover_highlight:hover {
            border: solid #4D5D6D 7px;
            background:#FFFFFF;
        }
    }
}

input.button, input.checkbox {
	background-color: #106fbf; 
	border: solid #FFFFFF 2px;
	color: white;
	padding: 15px 32px;
	font-size: 16px;			
	cursor:pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

input.button:hover, input.checkbox:hover {
	background-color: white; 
	color: black;
	border:solid #000000 2px;
}

input.button-size-medium {
	@extend .button;
	width:250px;
}

.position_center {
    position: absolute;
    top: 48%;
    left: 32%;
    bottom:auto;
    right:auto;
}

.position_bottom_right {
    bottom: 0px;
    right: 0px;
    position: absolute;
}

input.button-size-small {
    @extend .button;
    font-size:small;
    width:145px;
	padding: 8px 16px;
}

