#content_wrapper {

	padding-top:25px;
	@media screen and (max-width: $SCREEN_SIZE_SMALL) {
		padding-top:10px;
	}

	#content {
		width:95%;
		margin:0px auto;

		@media screen and (max-width: $SCREEN_SIZE_SMALL) {
			max-width: $SCREEN_SIZE_SMALL;
			padding:0px;
		}
		@media screen and (min-width: $SCREEN_SIZE_MEDIUM) {
			max-width: $SCREEN_SIZE_MEDIUM;
			padding:3px;
		}
		@media screen and (min-width: $SCREEN_SIZE_LARGE) {
			max-width: $SCREEN_SIZE_LARGE;
			padding:5px;
		}

		h2 {
			border-bottom: solid $COLOR_PRIMARY 5px;
			margin-bottom: 10px;
			font-size:1.3em;
		}

		.content_row {

			padding:5px;
			margin-bottom:65px;
			clear:both;

			img {
				float:left;
				margin-right:25px;
			}

            ul, ul.prominent_list {
                margin-left:20px;
            }

			ul.prominent_list {
				font-size: 1.1em;
				
				li {
					font-weight:bold;
					margin-bottom:15px;
					color: #7d0303;
				}
			}

			input.button {
				float:right;
				margin:0px auto;
			}

		}
	}

}

input.button {
	background-color: #106fbf; 
	border: solid #FFFFFF 2px;
	color: white;
	padding: 15px 32px;
	font-size: 16px;			
	cursor:pointer;
}

input.button:hover {
	background-color: white; 
	color: black;
	border:solid #000000 2px;
}

input.button{
	 -webkit-transition-duration: 0.4s; /* Safari */
	  transition-duration: 0.4s;
}

input.button-size-medium {
	@extend .button;
	width:250px;
}


